body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  background: linear-gradient(to bottom left, #b0e0e6, #e6e6fa, #ffefd5);
  background-size: cover;
}

footer {
  background: linear-gradient(to bottom right, #ffdab9, #d8bfd8, #b0c4de);
  bottom: 0;
  height: 60px;
  padding: 20px;
  font-size: 1rem;
  color: lightslategray;
  text-align: center;
}

.text-small,
.card-text {
  font-size: 1rem;
  font-weight: lighter;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2em;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:active {
  color: #d87093;
}
.navbar .navbar-nav .nav-item .nav-link.active {
  color: #d87093 !important;
}

.navbar.navbar-scrolled {
  background-color: #2f4f4f;
}
.navbar.navbar-scrolled .navbar-brand {
  color: #5f9ea0;
}
.navbar.navbar-scrolled .navbar-brand:hover {
  color: #cd5c5c;
}
.navbar.navbar-scrolled .navbar-nav .nav-item .nav-link {
  color: #5f9ea0;
}
.navbar.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
  color: #cd5c5c;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#icon {
  height: 5vh;
}

#profile {
  width: 17vw;
  border-radius: 15%;
}

#about,
#skills,
#courses,
#projects,
#recreations {
  padding-top: 8em;
}
