body {
    background: url("images/bg.jpg") no-repeat fixed;
    background-size: cover;
}

main {
    background: rgba(255,255,255,0.8);
    padding: 3em;
}

footer {
    color: rgba(255,255,255,0.55);
}

a:link {
    color: steelblue;
}
a:visited {
    color: darkslateblue;
}
a:hover {
    color: plum !important;
}
a:active {
    color: slateblue;
}

.nav-link:hover {
    color: rgba(255,255,255,0.8) !important;
}

#sign {
    font-family: "Lucida Handwriting", cursive;
}

/* #map {
    height: 50vh;
    max-width: 100%;
} */

@media (min-width: 768px) {
    #wrapper {
        padding: 10vh 0;
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    main {
        max-height: 75vh;
        width: 100%;
        max-width: 75vw;
        overflow-y: auto;
    }
    footer {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
}